.container-fluid{
 height:100vh;
 background-color:#fff;
 display:flex;
 justify-content:center;
 align-items: center;
}

.container-fluid >div {
    width: 85%;
    min-width: 300px;
    max-width:500px;
    color:red;
}

.card{
    width:100%;
    background-color :grey;
    color:red;

}

.social-container {
    display:flex;
    flex-direction:column;
    justify-content :center;
    color:red;


}
.btn a, .btn a:hover{
    color: white;
    text-decoration:none;
}
.div{
    color:red;
}